<h2>Offers</h2>
 
<%= link_to 'New offer', new_offer_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Category</th>
    <th>Zipcode</th>
    <th>District</th>
    <th>Description</th>
    <th colspan="5"></th>
  </tr>
 
      <% for offer in @offers %>
    <tr>
      <td><%= offer.title %></td>
      <td><%= offer.category %></td>
      <td><%= offer.zipcode %></td>
      <td><%= offer.district %></td>
      <td><%= offer.description %></td>
      <td><%= link_to 'Show', offer_path(offer) %></td>
      <td><%= link_to 'Edit', edit_offer_path(offer) %></td>
            <td><%= link_to 'Delete', offer_path(offer),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %></td>
    </tr>
        <% end %>

</table>

<form action="/offers" accept-charset="UTF-8" method="get">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <input type="text" name="term" id="term" />
  <input type="submit" name="commit" value="Search" data-disable-with="Search" />
</form>









