<p id="notice">Notice: <%= notice %> <%= flash.inspect %></p>
<% if @offers.blank? %>
<p>There are not any offers currently in the system.</p>
<% else %>
<p>These are the current offers in our system</p>



<ul id = "offers">
   <% @offers.each do |offer| %>

<li>
   <%= link_to offer.title, {:action => 'show', :id => offer.id} -%>
   <b> <%= link_to 'Edit', {:action => 'edit', :id => offer.id} %></b>
   <%= link_to 'Delete', offer_path(offer), :confirm => "Are you sure you want to delete this item?", :method => :delete %>
</li>

   <% end %>
</ul>

<% end %>
<p><%= link_to "Add new Offer", {:action => 'new' }%></p>
