<h2>Listing Categories</h2>

<br>
<table id="categories">
  <tr>
    <th>Name</th>
    <th colspan="4"></th>
  </tr>
  <%= render @categories %>
</table>


<br>
<h5> Add a new Category</h3>
<%= form_with(model: @category) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>


